imports:
    - tests/Behat/Configuration/suites.yaml

default:
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: Panda\Core\Infrastructure\Symfony\Kernel
                path: src/Core/Infrastructure/Symfony/Kernel.php
                environment: test
                debug: true
