parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - src/Shared/Infrastructure/Symfony/Kernel.php
    ignoreErrors:
        - '/Method App\\\w+\\Infrastructure\\ApiState\\Processor\\\w+Procesor::process\(\) has no return type specified./'
        - '/Method App\\\w+\\Infrastructure\\ApiState\\Processor\\\w+Procesor::process\(\) has parameter \$(context|uriVariables) with no value type specified in iterable type array./'
        - '/Method App\\\w+\\Infrastructure\\ApiState\\Processor\\\w+Procesor::process\(\) has parameter \$data with no type specified./'
        - '/Method App\\\w+\\Infrastructure\\ApiState\\Provider\\\w+Provider::provide\(\) has parameter \$(context|uriVariables) with no value type specified in iterable type array./'
        -
            message: '/Generator expects value type object, mixed given./'
            path: src/Shared/Infrastructure/Doctrine/Orm/DoctrineCollectionIterator.php

    checkGenericClassInNonGenericObjectType: false
