parameters:
    level: max
    paths:
        - src
    excludePaths:
        - src/Core/Infrastructure/Symfony/Kernel.php
    ignoreErrors:
        - '/^Method Panda\\\w+\\Infrastructure\\ApiSerializer\\\w+Normalizer::normalize\(\) has parameter \$context with no value type specified in iterable type array\.$/'
        - '/^Method Panda\\\w+\\Infrastructure\\ApiSerializer\\\w+Normalizer::supportsNormalization\(\) has parameter \$context with no value type specified in iterable type array\.$/'
        - '/^Method Panda\\\w+\\Infrastructure\\ApiSerializer\\\w+Normalizer::normalize\(\) return type has no value type specified in iterable type array\.$/'
        - '/^Property .*Exception::\$message has no type specified\.$/'
        - '/^Class Panda\\\w+\\Infrastructure\\Doctrine\\Orm\\Query\\\w+Query has an uninitialized readonly property \$queryBuilder\. Assign it in the constructor\.$/'
        - '/^Readonly property Panda\\\w+\\Infrastructure\\Doctrine\\Orm\\Query\\\w+Query::\$queryBuilder is assigned outside of the constructor\.$/'
        -
            message: '/^Generator expects value type object, mixed given\.$/'
            path: src/Core/Infrastructure/Doctrine/Orm/DoctrineCollectionIterator.php
        -
            identifier: missingType.generics

services:
    -
        class: Panda\Tests\Architecture\LayersSeparationTest
        tags:
            - phpat.test
    -
        class: Panda\Tests\Architecture\BoundedContextsSeparationTest
        tags:
            - phpat.test
