{% extends '@!ApiPlatform/SwaggerUi/index.html.twig' %}

{% block title %}
    <title>{% if title %}{{ title }}{% endif %}</title>
{% endblock %}

{% block header %}
    <header>
        <a
            id="logo"
            href="https://github.com/coldic3/panda"
            style="font-family: Open Sans, sans-serif; text-decoration: none; color: #fff; left: 40px;"
        >
            <h1>Portfolio Arrangement: Nest of Digitalized Assets</h1>
        </a>
    </header>
{% endblock %}
